@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@using (Html.BeginForm())
{
    <div>
        <button class="btn btn-outline-primary">
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>
}
<br/>

@if (!Model.Any())
{
    <p> We don't have any customers yet. </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Country</th>
                <th>Release Day</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Edit", "Movies", new { id = item.MovieID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Releasedate)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
        </td>
    </tr>
        }

    </table>

} 