@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MemberShipType.NameOfMemberShip</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>Days of Birth: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
